@using EbookSite
@model EbookSite.Models.BookViewModel

@{
    ViewBag.Title = "Edit Book";
}

<h2>Edit</h2>

@Scripts.Render("~/bundles/jHtmlArea")
@Styles.Render("~/bundles/jHtmlAreaCss")

@Scripts.Render("~/bundles/combo")
@Styles.Render("~/Content/combo")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BookId)


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Title, 3, 200, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ComboBoxFor(model => model.Author, Model.Authors, prependNewValue: "~")
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ComboBoxFor(model => model.Publisher, Model.Publishers, prependNewValue: "~")
                @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 10, 300, new { style = "max-width: 100%" })
                @Html.ValidationMessageFor(model => model.Description, "", new {  @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    // Use a custom toolbar because bootstrap messes up the button heights for the header style buttons
    $('#Description').htmlarea({
        toolbar: [
            ["html"],
            ["bold", "italic", "underline", "strikethrough"],
            ["subscript", "superscript"],
            ["increasefontsize", "decreasefontsize"],
            ["orderedlist", "unorderedlist"],
            ["p"],
            ["cut", "copy", "paste"]
        ]
    })
</script>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
