@model EbookSite.Models.DisplayBooksViewModel

@{
    ViewBag.Title = "Your Books";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Upload", "Upload")
</p>

@Styles.Render("~/Content/datatables")
@Scripts.Render("~/bundles/datatables")

<script>
    function showConfirmDlg(title, url) {
        $(function () {
            $("#dlg-confirm").dialog({
                resizable: true,
                height: 200,
                width: 350,
                modal: true,
                title: 'Delete ' + title,
                buttons: {
                    "Delete": function () {
                        location.href = url;
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }
</script>

<table class="table" id="books">
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books) {
            <tr>
                <td>@Html.DisplayFor(m => item.Author)</td>
                <td>@Html.DisplayFor(m => item.Title)</td>
                <td><a href='@Url.Action("Cover", new { bookId = item.BookId })'><img src='@Url.Action("ShowThumbnail", "BookImage", new { bookId = item.BookId })' /></a></td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { bookId = item.BookId }) |
                    @Html.ActionLink("Read", "Index", "ReadBook", new { bookId = item.BookId }, null) |
                    @Html.ActionLink("Download", "Download", new { bookId = item.BookId }) |
                    <a href='javascript:void();' onclick='showConfirmDlg("@item.Title", "/Ebooks/Delete?bookId=@item.BookId")'>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#books').dataTable({
            "columnDefs": [
                { "orderable": false, "searchable": false, "targets": [2, 3] }
            ],
            "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]]
        });
    });
</script>

<div id="dlg-confirm" style="display:none">
    <p>This book will be deleted from your shelf.<br/>Are you sure?</p>
</div>