@model EbookSite.Models.DisplayBooksViewModel

@{
    ViewBag.Title = "Your Books";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Upload", "Upload")
</p>

@Styles.Render("~/Content/datatables")
@Scripts.Render("~/bundles/datatables")

<script>
    function showConfirmDlg(title, url) {
        $(function () {
            $("#dlg-confirm").dialog({
                resizable: true,
                height: 200,
                width: 350,
                modal: true,
                title: 'Delete ' + title,
                buttons: {
                    "Delete": function () {
                        location.href = url;
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }

    function confirmReloadDlg(title, url) {
        $(function () {
            $("#dlg-reload-confirm").dialog({
                resizable: true,
                height: 200,
                width: 400,
                modal: true,
                title: 'Reload ' + title,
                buttons: {
                    "Reload": function () {
                        location.href = url;
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }
</script>

<p>Toggle Visibility - 
    <a class="toggle-vis" role="button" data-column="0">Author</a> |
    <a class="toggle-vis" role="button" data-column="1">Title</a> |
    <a class="toggle-vis" role="button" data-column="2">Tags</a> |
    <a class="toggle-vis" role="button" data-column="3">Cover</a>
</p>
<table class="table" id="books">
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Tags</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books) {
            <tr>
                <td>@Html.DisplayFor(m => item.Author)</td>
                <td>@Html.DisplayFor(m => item.Title)</td>
                <td>@Html.DisplayFor(m => item.Tags)</td>
                <td><a href='@Url.Action("Cover", new { bookId = item.BookId })'><img src='@Url.Action("ShowThumbnail", "BookImage", new { bookId = item.BookId })' /></a></td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { bookId = item.BookId }) |
                    @Html.ActionLink("Read", "Index", "ReadBook", new { bookId = item.BookId }, null) |
                    @Html.ActionLink("Download", "Download", new { bookId = item.BookId }) |
                    <a role="button" onclick='showConfirmDlg("@item.Title", "/Ebooks/Delete?bookId=@item.BookId")'>Delete</a> |
                    <a role="button" onclick='confirmReloadDlg("@item.Title", "/Ebooks/Reload?bookId=@item.BookId")'>Reload</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var colAuthor = 0;
    var colTitle = 1;
    var colTags = 2;
    var colCover = 3;
    var colButtons = 4;
    $(document).ready(function () {
        var table = $('#books').DataTable({
            "columnDefs": [
                { "orderable": false, "searchable": false, "targets": [colCover, colButtons] },
                { "orderable": false, "targets": [colTags] }
            ],
            "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]]
        });

        $('a.toggle-vis').on('click', function(e) {
            e.preventDefault();
            var column = table.column($(this).attr('data-column'));
            column.visible(!column.visible());
        });
    });
</script>

<div id="dlg-confirm" style="display:none">
    <p>This book will be deleted from your shelf.<br/>Are you sure?</p>
</div>

<div id="dlg-reload-confirm" style="display:none">
    <p>Reloading will overwrite any changes made to the book's metadata since you imported it.<br/>Are you sure?</p>
</div>