@model EbookSite.Models.ReadBookViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Title</h2>

<p>
    @Ajax.ActionLink("Previous", "ChangePage", new { bookId = Model.BookId, spineIndex = Model.SpineIndex - 1 },
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "changePage" }, new { id = "PreviousLink" })
    <span class="disabled" id="PreviousLinkDis">Previous</span>
    |
    @Ajax.ActionLink("Next", "ChangePage", new { bookId = Model.BookId, spineIndex = Model.SpineIndex + 1 },
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "changePage" }, new { id = "NextLink" })
    <span class="disabled" id="NextLinkDis">Next</span>
    |
    <a href="@Html.Encode(Request.UrlReferrer.ToString())">Back</a>
</p>

@if (Model.CanPrevious) {
    <script>
    $('#PreviousLinkDis').attr('hidden', 'hidden');
    </script>
} else {
    <script>
    $('#PreviousLink').attr('hidden', 'hidden');
    </script>
}
@if (Model.CanNext) {
    <script>
    $('#NextLinkDis').attr('hidden', 'hidden');
    </script>
} else {
    <script>
    $('#NextLink').attr('hidden', 'hidden');
    </script>
}

<script>
    function changePage(result) {
        $('#iFrame').attr('src', result.url);
        if (result.canPrevious) {
            $('#PreviousLinkDis').attr('hidden', 'hidden');
            $('#PreviousLink').removeAttr('hidden');
            $('#PreviousLink').attr('href', '/ReadBook/ChangePage?bookId=' + result.bookId + '&spineIndex=' + (result.spineIndex - 1));
        } else {
            $('#PreviousLinkDis').removeAttr('hidden');
            $('#PreviousLink').attr('hidden', 'hidden');
        }
        if (result.canNext) {
            $('#NextLinkDis').attr('hidden', 'hidden');
            $('#NextLink').removeAttr('hidden');
            $('#NextLink').attr('href', '/ReadBook/ChangePage?bookId=' + result.bookId + '&spineIndex=' + (result.spineIndex + 1));
        } else {
            $('#NextLinkDis').removeAttr('hidden');
            $('#NextLink').attr('hidden', 'hidden');
        }
    }
</script>

<script>
    function jumpToPage(url) {
        $('#iFrame').attr('src', 'ReadBook/ReadContent/' + @Model.BookId + '/' + url);
    }
</script>

<table id="reader">
    <tr style="height:100%">
        <td style="width:30%">
            <h3 id="toctitle">@Model.Toc.Title</h3>
            <ul id="toclist" class="toc-list clearfix">
                @foreach (var np in Model.Toc.NavPoints) {
                    <li><a class="toc-item" onclick="jumpToPage('@np.Ref')">@np.Text</a></li>
                }
            </ul>
        </td>
        <td>
            <iframe id="iFrame" style="width:100%;height:100%" src="@Model.Url"></iframe>
        </td>
    </tr>
</table>

<p><a href="@Html.Encode(Request.UrlReferrer.ToString())">Back</a></p>

<script>
    $().ready(function () {
        $('#reader').height($(window).height() - 300);
        $('#toclist').height($(window).height() - 300 - $('#toctitle').height());
    });


    $(window).resize(function () {
        $('#reader').height($(window).height() - 300);
        $('#toclist').height($(window).height() - 300 - $('#toctitle').height());
    });
</script>