@model EbookSite.Models.ReadBookViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Title</h2>

<p><a href="@Html.Encode(Request.UrlReferrer.ToString())">Back</a></p>

<script>
    var spineRefs = [ @Html.Raw(string.Join(",", Model.SpineRefs.Select(r => "'" + r + "'")))];
    var basePageUrl = location.protocol + '//' + location.host + '/ReadBook/ReadContent/' + @Model.BookId + '/';
</script>

<p>
<a class="pagejump" id="pageprev" onclick="jumpToPage(spineRefs[currSpineRefIx-1])">@Html.Raw("<<")</a>
@for (int i = 0; i < Model.SpineRefs.Length; i++) { 
    <a class="pagejump" onclick="jumpToPage('@Model.SpineRefs[i]')" id='pagejump_@i'>@(i + 1)</a>
}
<a class="pagejump" id="pagenext" onclick="jumpToPage(spineRefs[currSpineRefIx+1])">@Html.Raw(">>")</a>
</p>

<script>
    var currSpineRefIx;

    function jumpToPage(url) {
        $('#iFrame').attr('src', 'ReadBook/ReadContent/' + @Model.BookId + '/' + url);
    }

    function onNewPageLoaded(url) {
        var selurl = url.split('#')[0];
        selurl = decodeURIComponent(selurl.substring(basePageUrl.length));
        $(".pagejump").removeClass("selpagejump pagejumpdis");
        for (var i = 0; i < spineRefs.length; i++) {
            if (selurl == spineRefs[i]) {
                $("#pagejump_" + i).addClass("selpagejump");
                currSpineRefIx = i;
                break;
            }
        }
        if (currSpineRefIx <= 0) $("#pageprev").addClass("pagejumpdis");
        if (currSpineRefIx >= spineRefs.length - 1) $("#pagenext").addClass("pagejumpdis");
    }
</script>

<script>
    var tocVisible = true;
    function tocToggle() {
        if (tocVisible) {
            $("#coltoc").addClass("toc-hidden");
            $("#colview").addClass("readerfullwidth");
            $("#tocbutton").text("Show TOC");
        } else {
            $("#coltoc").removeClass("toc-hidden");
            $("#colview").removeClass("readerfullwidth");
            $("#tocbutton").text("Hide TOC");
        };
        tocVisible = !tocVisible;
    }
</script>

<a role="button" id="tocbutton" onclick="tocToggle();">Hide TOC</a>

<table id="reader">
    <colgroup>
        <col id="coltoc" class="toc"/>
        <col id="colview" />
    </colgroup>
    <tbody>
        <tr style="height:100%">
            <td id="toccell">
                <h3 id="toctitle">@Model.Toc.Title</h3>
                <ul id="toclist" class="toc-list clearfix">
                    @foreach (var np in Model.Toc.NavPoints) {
                        <li><a class="toc-item" onclick="jumpToPage('@np.Ref')">@np.Text</a></li>
                    }
                </ul>
            </td>
            <td>
                <iframe id="iFrame" style="width:100%;height:100%" src="@Model.Url" onLoad="onNewPageLoaded(this.contentWindow.location.href);"></iframe>
            </td>
        </tr>
    </tbody>
</table>

<p><a href="@Html.Encode(Request.UrlReferrer.ToString())">Back</a></p>

<script>
    $().ready(function () {
        $('#reader').height($(window).height() - 300);
        $('#toclist').height($(window).height() - 300 - $('#toctitle').height());
    });


    $(window).resize(function () {
        $('#reader').height($(window).height() - 300);
        $('#toclist').height($(window).height() - 300 - $('#toctitle').height());
    });
</script>